.storybook-button {
  font-family: 'Inter', 'san-serif';
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 16px;
  padding: 13px 24px;
}
.storybook-button--primary {
  color: white;
  background-color: #5A45FF;
}
.storybook-button--secondary {
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
