@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-size: 62.5% !important;
}

body {
  margin: 0;
  font-family: 'Inter', 'sans-serif';
  font-size: 1.8rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.section-wrapper {
	background-color: rgb(17,19,31);
	padding-bottom: 10rem;
}
