.h1 {
  font-size: 4.8rem;
  line-height: 1.3;
}

.h2 {
  font-size: 3.6rem;
}

.h3 {
  font-size: 2.2rem;
}

.body1 {
  font-size: 2.2rem;
}

.body2 {
  font-size: 1.8rem;
}

.typography {
  font-family: 'Inter', 'san serif';
}

.label {
  font-size: 1.6rem;
  text-transform: uppercase;
}