.hero-wrapper {
  height: atuo;
  background-color: #11131F;
  padding-bottom: 8rem;
}

.body1 {
  padding-top: 3.2rem;
}

.hero-content {
  padding-top: 7.2rem;
  text-align: center;
}

.hero-cta {
  padding-top: 4rem;
  padding-bottom: 8.8rem;
  text-align: center;
}

.body2 {
  padding-top: 8rem;
  text-transform: uppercase;
  
}